.cards-header__title {
    font-weight: 300;
    font-size: 2rem;
}

.cards-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.cards__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.cards-header__menu {
    display: none;
}

@media all and (min-width: 768px) {

    .cards-header__menu {
        display: inline;
    }

    .cards__content {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media all and (min-width: 1000px) {

    .cards__content {
        width: 95%;
        margin: 0 auto;
    }
}